#createEditForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 72vh;
    margin: 10px auto;

   font-family: 'Bebas Neue' !important;
   
        
  

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: auto;
        margin: 10px auto;
    }

    .leftSide {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width:55%;
        height: 68vh;

        @media (max-width: 900px) {
            width:70%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        @media (max-width: 600px) {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .problemBox {
            display: flex;
            flex-direction: column;
            justify-content: center;

            /* #problemLabel {
                margin-bottom: 32px;
            } */
           /*  @media (max-width: 900px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            } */

            #title {
                font-size: 20px;
                text-align: center;
            }
        }

        div {
            width: 85%;
            height: 22vh;
            
            @media (max-width: 900px) {
                text-align: center;
                
            }
            label {
                font-size: 24px;
                letter-spacing: 1px;
            }

            input {
                width: 75%;
                height: 6vh;
                margin-top: 4px;
                padding: 4px 6px;
                background-color: rgb(243, 243, 243);
                border: 2px solid rgb(191, 191, 191);
                font-size: 20px;
                text-align: center;
                transition: all .2s ease;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                @media (max-width: 900px) {
                    margin: auto;
                }
            }

            input:hover {
                background-color: rgb(220, 220, 220);
            }
            input:focus {
                outline: none;
            }
        }
        
        .textarea {
            width: 75%;
            height: 12vh;
            padding: 3px 5px;
            background-color: rgb(243, 243, 243);
            border: 2px solid rgb(191, 191, 191) !important;
            border-radius: 0 !important;
            resize: none;
            overflow: auto !important;
            font-size: 20px;
            transition: all .2s ease;

            @media (max-width: 900px) {
                margin: auto;
            }
        }
        .textarea:hover {
            background-color: rgb(220, 220, 220);
        }
        .textarea:focus {
            outline: none;
        }
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        height: 67vh;

        @media (max-width: 900px) {
            width:70%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

           
        }

        @media (max-width: 600px) {
            width:100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 20px;
        }

        .imageBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            align-items: center;

            label {
                font-size: 23px;
            }
            input {
                margin-top: 4px;
            }

            @media (max-width: 900px) {
                margin-bottom: 30px;
            }
        }

        img {
            width:65%;
            height: 32vh;
            border-radius: 5px;

            @media (max-width: 1100px) {
                height: 28vh;
            }
            @media (max-width: 1000px) {
                height: 25vh;
            }
            @media (max-width: 900px) {
                height: 24vh;
            }

            @media (max-width: 900px) {
                margin-bottom: 30px;
            }
        }

        div {
            input {
                width: 80%;
                height: 6vh;
                padding: 4px 6px;
                background-color: rgb(243, 243, 243);
                border: 2px solid rgb(191, 191, 191);
                font-size: 20px;
                transition: all .2s ease;
            }
            input:hover {
                background-color: rgb(220, 220, 220);
            }
            input:focus {
                outline: none;
            }
        }

        .flexCarousel {
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;


           
        }

        .spaces {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 35%;

            label {
                font-size: 20px;
            }
            input {
                width: 60% !important;
                text-align: center;

                @media (max-width: 1100px) {
                    width: 55% !important;
                    height: 50% !important;
                }
                @media (max-width: 1000px) {
                    width: 50% !important;
                    height: 45% !important;
                }
                @media (max-width: 900px) {
                    width: 45% !important;
                    height: 40% !important;
                }

                @media (max-width: 900px) {
                    margin-bottom: 30px;
                }
            }
        }

        #carousel {
            
            input {
                width: 40%;
                margin-left: -40px;
                /* height: 40%; */
            }
            label {
                font-size: 20px;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%;
        }
    }
}



