.title {
  font-family: 'Lexend Peta', sans-serif ;
}
  
.my_events_page {
  font-family: 'Lexend Peta', sans-serif;
}
  
#spaces {
   
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Lexend Peta', sans-serif;
    p {
      font-family: 'Lexend Peta', sans-serif;
      }
  }

#paragraph {
  p {
    font-family: 'Lexend Peta', sans-serif;
  }
}

h5 {
  display: flex;
  align-items: center;
  margin-left: 5%;
  font-family: 'Lexend Peta', sans-serif;
}