.title {
    font-family: 'Lexend Peta',
      sans-serif;
  }
  
  .my_events_page {
    font-family: 'Lexend Peta',
      sans-serif;
  }
  
  .spaces {
    font-family: 'Lexend Peta',
      sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
  }