.sorry-message{

    margin-top: 300px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Bebas Neue' !important
  
}

p{
    text-align: center;
    font-size: 32px;
}