/* section */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
 /*    border: 1px solid black; */
}

/* form */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60vh;
   /*  border: 1px solid black; */
}

/* left */
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:55%;
    height: 60vh;
   /*  border: 1px solid black; */
}
.left div {
    width: 80%;
    height: 20vh;
    margin-left: 10px;
  /*   border: 1px solid black; */
}
.left div label {
    font-size: 24px;
    letter-spacing: 1px;
}
.left div input {
    width: 75%;
    height: 6vh;
    margin-top: 4px;
    padding: 4px 6px;
    background-color: rgb(243, 243, 243);
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    transition: all .2s ease;
}
.left div input:hover {
    background-color: rgb(220, 220, 220);
}
.left div input:focus {
    outline: none;
}
.textarea {
    width: 75%;
    height: 12vh;
    padding: 3px 5px;
    background-color: rgb(243, 243, 243);
    border: 1px solid black;
    border-radius: 8px;
    resize: none;
    font-size: 20px;
    transition: all .2s ease;
}
.textarea:hover {
    background-color: rgb(220, 220, 220);
}
.textarea:focus {
    outline: none;
}

/* right */
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 60vh;
  /*   border: 1px solid black; */
}
.right div input {
    width: 80%;
    height: 6vh;
    padding: 4px 6px;
    background-color: rgb(243, 243, 243);
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    transition: all .2s ease;
}
.right div input:hover {
    background-color: rgb(220, 220, 220);
}
.right div input:focus {
    outline: none;
}
.imageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
   /*  border: 1px solid black; */
}
.imageBox label {
    font-size: 22px;
}
.imageBox input {
    margin-top: 4px;
}
/* img */
img {
    width:65%;
    height: 24vh;
    border-radius:  5px;
}
/* spaces */
.spaces {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
  /*   border: 1px solid black; */
}
.spaces label {
    font-size: 22px;
}
.spaces input {
    width: 35% !important;
    text-align: center;
}
/* buttons */
.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
  /*   border: 1px solid black; */
}
